@{
    string str = ViewData["listProperty"] as string;

    ViewBag.parent = (!string.IsNullOrEmpty(str) ? string.Format("data.modalEntity.{0}.", ViewData["listProperty"]) : "data.modalEntity.");
    ViewBag.entity = (!string.IsNullOrEmpty(str) ? string.Format(",'{0}', ", ViewData["listProperty"]) : ",").Replace(".", "");
}
<div class="row">
    <div class="col-sm-12" ng-if="'@(ViewBag.parent)'!=='null' && '@(ViewBag.parent)'!==''">
        {{@(ViewBag.parent)pagingOptions.totalCount}} registro(s) encontrado(s)
    </div>
    <div class="col-sm-12" ng-if="'@(ViewBag.parent)'==='null' || '@(ViewBag.parent)'===''">
        {{@(ViewBag.parent)pagingOptions.totalCount}} registro(s) encontrado(s) em {{((elapsedTime/1000).toString().indexOf('.') > -1) ? (elapsedTime/1000).toString().substr(0, (elapsedTime/1000).toString().indexOf('.')) : (elapsedTime/1000).toString()}},{{(elapsedTime%1000 >= 100) ? (elapsedTime%1000).toString() : '0' + (elapsedTime%1000).toString()}}s
    </div>
</div>