@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Associar Indicações</h5>
                <div ng-include="'/common/astovetoolsclose'"></div>
            </div>
            <div class="ibox-content">
                <form role="form" name="indicacoesForm" ng-submit="submitForm(indicacoesForm.$valid)" novalidate>

                    <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AstoveHelper.GetAntiForgeryToken()'" />

                    <div ng-show="hasError || success" class="alert alert-dismissible" ng-class="{ 'alert-danger' : hasError, 'alert-success' : success }" role="alert">
                        <button type="button" class="close" ng-click="showAlert=false;"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
                        <strong>{{messagetype}}!</strong> {{message}}
                    </div>

                    <div class="col-md-12 form-group" ng-class="{ 'has-error' : indicacoesForm.indicacaoassociadaid.$invalid && !indicacoesForm.indicacaoassociadaid.$pristine }">
                        <label>Identificação (Id) da Indicação à Associar</label>
                        <input name="indicacaoassociadaid" type="text" class="form-control input-lg" ng-model="data.modalModel.indicacaoAssociadaId" required />
                        <p ng-show="indicacoesForm.indicacaoassociadaid.$invalid && !indicacoesForm.indicacaoassociadaid.$pristine" class="help-block">Informe o campo Identificação (Id) da Indicação à Associar</p>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-lg pull-right" ng-disabled="indicacoesForm.$invalid">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>