@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Enviar Convite</h5>
                <div ng-include="'/common/astovetoolsclose'"></div>
            </div>
            <div class="ibox-content">
                <form role="form" name="reservasForm" ng-submit="submitForm(reservasForm.$valid)" novalidate>

                    <input id="antiForgeryToken" data-ng-model="antiForgeryToken" type="hidden" data-ng-init="antiForgeryToken='@AstoveHelper.GetAntiForgeryToken()'" />

                    <div ng-show="hasError || success" class="alert alert-dismissible" ng-class="{ 'alert-danger' : hasError, 'alert-success' : success }" role="alert">
                        <button type="button" class="close" ng-click="showAlert=false;"><span aria-hidden="true">×</span><span class="sr-only">Fechar</span></button>
                        <strong>{{messagetype}}!</strong> {{message}}
                    </div>

                    <div class="col-md-12 form-group" ng-class="{ 'has-error' : reservasForm.email.$invalid && !reservasForm.email.$pristine }">
                        <label>E-mail</label>
                        <input name="email" type="email" class="form-control input-lg" ng-model="data.modalModel.email" required pattern="[a-z0-9._%+-]+&#64;[a-z0-9.-]+\.[a-z]{2,4}$" />
                        <p ng-show="reservasForm.email.$invalid && !reservasForm.email.$pristine" class="help-block">Informe o campo E-mail</p>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-lg pull-right" ng-disabled="reservasForm.$invalid">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>